
.darks {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.darks {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
